# Backend API URL
EXPO_PUBLIC_API_URL=http://localhost:3001

# Firebase config - copy from: https://console.firebase.google.com/project/youtube-data-analysis-506507/settings/general/
# Get your API key from Project Settings > General > Web API Key
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAq7msUY19gHJw2WURKeThNDyttS19HPl8
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=youtube-data-analysis-506507.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=youtube-data-analysis-506507
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=youtube-data-analysis-506507.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=198586481527
EXPO_PUBLIC_FIREBASE_APP_ID=1:198586481527:web:aea281b7168b82aaf73f72